.boxes {
    margin: 15px;
}
.bloqueada {
    display: none;
}
.escolher {
    border-radius: 5px;
    height: 40px;
    font-size: 17px;
    width: auto;
}
.botao {
    float: right;
}
.img {
    
    display: none;
}
#agro {
    margin-top: 10px;
    height: 28vw;
}
#daf {
    margin-top: 10px;
    height: 28vw;
}
#asfaltos {
    margin-top: 10px;
    height: 28vw;
}
#engelog {
    margin-top: 10px;
    height: 28vw;
}