*{
    margin: 0;
    padding: 0;
}

.caixas {
    margin: 5px;
    margin-left: 12px;
}
.boxes {
    margin-bottom: 26px;
    border-radius: 3px;
    border-width: 1px;
    height: 19px;
    padding-inline-start: 5px;
}
.bloqueada {
    display: none;
}
.escolher {
    border-radius: 5px;
    height: 40px;
    font-size: 17px;
    width: auto;
    outline: none;
    margin-left: 10px;
}

.esc {
    display: none;
}
.local {
    margin-bottom: 19px;
    height: 28px;
    width:105px;
    border-radius: 3px;
    outline: none;
}
.pronto {
    height: 40px;
    width: 70px;
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;
    background-color: rgb(235, 235, 235);
}
.pronto:hover{
    background-color: rgb(199, 199, 199);
}

#grupodiv{
    position: relative;
}
#grupodiv img {
    width: 94.2vw
}
#grupodiv .name1 {
    position: absolute;
    color: rgb(235, 141, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 19vw;
    left: 4vw;
    font-weight: bold;
    font-size: 2.3vw;
}
#grupodiv .cargo1 {
    position: absolute;
    bottom: 17vw;
    left: 4vw;
    font-size: 1.4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#grupodiv .telefone1 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 14.2vw;
    left: 3.7vw;
    font-size: 2vw;
    
}
#grupodiv .mail1 {
    position: absolute;
    font-size: 1.3vw;
    bottom: 12vw;
    left: 3.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 29vw;
}
#grupodiv .localizacao1{
    position: absolute;
    bottom: 9.2vw;
    left: 41.6vw;
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 22.4vw;
    height: 4vw;
    text-align: left;
}


#agrodiv {
    position: relative;
    margin: auto;
}
#agrodiv img{
    width: 77vw
}
#agrodiv .name1 {
    position: absolute;
    bottom: 21.7vw;
    left: 38.3vw;
    text-align: center;
    color: #25427A;
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}
#agrodiv .cargo1 {
    position: absolute;
    bottom: 20.1vw;
    left: 38.4vw;
    text-align: center;
    color: #25427A;
    font-size: 1.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
#agrodiv .localizacao1 {
    position: absolute;
    bottom: 2.7vw;
    left: 38.2vw;
    color: #25427A;
    font-size: 1.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
    width: 31.5%;
    height: 21%;
    word-wrap: break-word;
    text-align: auto;
    display: flex;
}
.padcep {
    position: absolute;
    color: #25427A;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 71.8vw;
    bottom: 6.5vw;
    display: flex;
}
#agrodiv .cep1 {
    color: #25427A;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 6.5vw;
    left: 77vw;
}
#agrodiv .tel {
    position: absolute;
    font-size: 1.9vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #25427A;
    left: 71.8vw;
    bottom: 3.7vw;
}
#agrodiv .telefone1 {
    position: absolute;
    bottom: 3.9vw;
    left: 77vw;
    text-align: center;
    color: #25427A;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 17%;
}


#dafdiv {
    position: relative;
    margin: auto;
}
#dafdiv img {
    width: 90vw;
}
#dafdiv .name1 {
    position: absolute;
    bottom: 26.2vw;
    left: 45vw;
    color: black;
    font-size: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
#dafdiv .cargo1 {
    position: absolute;
    bottom: 24.4vw;
    left: 45vw;
    text-align: center;
    color: black;
    font-size: 1.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 12px;
}
#dafdiv .mail1{
    position: absolute;
    bottom: 21.3vw;
    left: 45vw;
    font-size: 1.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#dafdiv .localizacao1 {
    position: absolute;
    bottom: 11vw;
    left: 45vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vw;
    width: 33vw;
}
#dafdiv .telefone1 {
    position: absolute;
    bottom: 5.2vw;
    left: 44.6vw;
    font-size: 2.4vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#asfaltosdiv {
    position: relative;
    margin: auto;
}
#asfaltosdiv img{
    padding-top: 14px;
    width: 93.5vw;
}
#asfaltosdiv .name1 {
    position: absolute;
    bottom: 18.6vw;
    left: 3.9vw;
    text-align: center;
    color: rgb(235, 141, 0);
    font-size: 2.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#asfaltosdiv .cargo1 {
    position: absolute;
    bottom: 16.2vw;
    left: 4vw;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#asfaltosdiv .telefone1 {
    position: absolute;
    bottom: 13.7vw;
    left: 3.9vw;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#asfaltosdiv .mail1 {
    position: absolute;
    bottom: 11.2vw;
    left: 3.9vw;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#asfaltosdiv .localizacao1 {
    position: absolute;
    bottom: 9vw;
    left: 41.6vw;
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 22.4vw;
    height: 4vw;
    text-align: left;
}


#engelog {
    position: relative;
    margin: auto;
}
#engelogdiv img{
    padding-top: 14px;
    width: 94.9vw;
}
#engelogdiv .name1{
    position: absolute;
    bottom: 17.9vw;
    left: 3.9vw;
    color: rgb(235, 141, 0);
    font-size: 2.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#engelogdiv .cargo1{
    position: absolute;
    bottom: 15.8vw;
    left: 4vw;
    color: black;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#engelogdiv .telefone1{
    position: absolute;
    bottom: 13vw;
    left: 3.7vw;
    color: black;
    font-size: 1.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#engelogdiv .mail1{
    position: absolute;
    bottom: 11.2vw;
    left: 3.9vw;
    color: black;
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#engelogdiv .localizacao1{
    position: absolute;
    bottom: 8.2vw;
    left: 42.1vw;
    color: rgb(235,235,235);
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 22.4vw;
    height: 4vw;
    text-align: left;
}


#pavimentosdiv{
    position: relative;
    margin: auto;
}
#pavimentosdiv img{
    padding-top: 14px;
    width: 94.9vw;
}
#pavimentosdiv .name1{
    position: absolute;
    bottom: 19.6vw;
    left:3.9vw;
    color: rgb(235, 141, 0);
    font-size: 2.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#pavimentosdiv .cargo1{
    position: absolute;
    bottom: 17.6vw;
    left: 4vw;
    color: black;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#pavimentosdiv .telefone1{
    position: absolute;
    bottom: 15.2vw;
    left: 3.7vw;
    color: black;
    font-size: 1.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#pavimentosdiv .mail1{
    position: absolute;
    bottom: 13.2vw;
    left: 3.9vw;
    color: black;
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 500px;
}
#pavimentosdiv .localizacao1{
    position: absolute;
    bottom: 9.2vw;
    left: 42.1vw;
    color: rgb(235,235,235);
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 22.4vw;
    height: 4vw;
    text-align: left;
}