.caixas {
    margin: 5px;
}
.boxes {
    margin-bottom: 26px;
}
.bloqueada {
    display: none;
}
.escolher {
    border-radius: 5px;
    height: 40px;
    font-size: 17px;
    width: auto;
}
.img {
    display: none;
    width: 85%;
}
#agrodiv {
    position: relative;
    margin: auto;
}
#agrodiv img{
    width: 97%;
}
#agrodiv .name1 {
    position: absolute;
    bottom: 67%;
    left: 49%;
    text-align: center;
    color: #1a4b88;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#agrodiv .cargo1 {
    position: absolute;
    bottom: 58%;
    left: 49%;
    text-align: center;
    color: #1d487c;
    font-size: 157%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#agrodiv .mail1 {
    position: absolute;
    bottom: 18%;
    left: 49%;
    text-align: center;
    color: #1d487c;
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#agrodiv .telefone1 {
    position: absolute;
    bottom: 26%;
    left: 49%;
    text-align: center;
    color: #1a4b88;
    font-size: 157%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#agrodiv .localizacao1 {
    position: absolute;
    bottom: 7%;
    left: 49%;
    text-align: center;
    color: #1a4b88;
    font-size: 157%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}